<div class="reservation-selected bg-gray">
  <h2 class="reservation-heading">Dates</h2>

  <ul>

    <li>
      <span>Check-In</span>
      <span>{{reservation.get('dateFrom').value | ngbToDate : 'longDate'}}
      </span>
    </li>

    <li>
      <span>Check-Out</span>
      <span>{{reservation.get('dateTo').value | ngbToDate : 'longDate'}}
      </span>
    </li>

    <li>
      <span>Total Rooms</span>
      <span>{{reservation.get('rooms')['controls'].length}} of {{reservation.get('rooms')['controls'].length}}
      </span>
    </li>

    <li>
      <span>Total Guests</span>
      <span>{{reservation.get('rooms')['controls'] | adults}} Adults {{reservation.get('rooms')['controls'] | children}} Children
      </span>
    </li>

  </ul>
</div>
