.reservation-billing-detail {
  margin-left: 80px;
  max-width: 570px;

  h4 {
    color: #000;
    text-transform: uppercase;
    margin-top: 20px;
    margin-bottom: 0;
    padding-bottom: 10px;
    font-weight: bold;
    font-family: $first-font;
    font-size: 30px;
  }

  label {
    color: #232323;
    font-size: 12px;
    text-transform: uppercase;
    font-family: $first-font;
    display: block;
    margin-top: 20px;
    margin-bottom: 10px;

    sup {
      color: #ff0000;
      font-size: 12px;
    }

    &.label-radio .input-radio {
      margin: 0;
      display: inline-block;
      vertical-align: middle;
      margin-right: 15px;
    }
  }

  .bootstrap-select.awe-select.btn-group {
    width: 100%;

    .btn {
      border: 2px solid #e4e4e4;
      font-weight: 500;
    }
  }

  .reservation-code {
    background-color: #333333;
    color: #ffffff;
    font-size: 14px;
    padding: 15px 20px;
    margin-top: 35px;

    a {
      color: #fff;
      font-weight: bold;
      @include transition(all 0.3s ease)
    }
  }

  .option-bank {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
    padding-top: 10px;

    li {
      position: relative;
      padding-left: 30px;
      margin-top: 25px;

      .label-radio {
        font-size: 14px;
        margin: 0 15px 0 0;
        display: inline-block;

        .input-radio {
          position: absolute;
          top: 4px;
          left: 0;
        }
      }

      p {
        font-size: 12px;
        margin-bottom: 0;
        font-weight: 500;
        margin-top: 5px;
      }
    }
  }

  .awe-btn {
    padding: 10px 40px;
    font-family: $second-font;
    font-size: 14px;
    font-weight: 600;
    margin-top: 40px;
  }

  .input-text,
  .input-textarea {
    border: 2px solid #e4e4e4;
    width: 100%;
    font-size: 14px;
    color: #333333;
    font-weight: normal;
  }
}

@media screen and (max-width: 991px) {
  .reservation-billing-detail {
    max-width: inherit;
    margin-left: 0;
  }
}
