.reservation_content {
  padding-bottom: 20px;
  margin-top: 40px;

  &:before,
  &:after {
    content: '';
    display: table;
    clear: both;
  }
}

.reservation-calendar {
  margin: 0 15px;
  display: inline-block;
  width: 45%;
}

.reservation-calendar_custom {
  .reservation-calendar_title {
    text-align: center;
    color: $main-color;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
    margin: 0;
    padding-top: 15px;
    padding-bottom: 15px;
    position: relative;
    border-bottom: 1px solid #e4e4e4;
    margin-left: 3px;
    margin-right: 3px;
    font-family: $first-font;

    .reservation-calendar_corner {
      display: block;
      width: 24px;
      height: 24px;
      text-align: center;
      color: #cbcbcb;
      line-height: 24px;
      font-size: 12px;
      position: absolute;
      top: 50%;

      &:hover {
        color: $main-color;
      }

      &.reservation-calendar_prev {
        left: 0;
      }

      &.reservation-calendar_next {
        right: 0;
      }
    }
  }

  .reservation-calendar_tabel {
    width: 100%;
    vertical-align: middle;
    text-align: center;
    table-layout: fixed;
    margin-top: 15px;

    th {
      text-transform: uppercase;
      text-align: center;
      color: black;
      font-size: 12px;
      padding-top: 10px;
      padding-bottom: 10px;
    }

    td {
      background-color: #fff;
      background-clip: content-box;
      padding: 3px;

      a {
        position: relative;
        display: block;
        padding-top: 100%;
        color: black;
        font-size: 12px;

        &:before {
          left: 0;
          right: 0;
          bottom: 0;
          top: 0;
          content: '';
          border: 2px solid transparent;
          position: absolute;
        }

        small {
          position: absolute;
          top: 5px;
          right: 10px;
          font-size: 12px;
        }

        &:hover:before {
          border-color: $main-color;
        }
      }

      &.not-available {
        background-color: $main-color;

        a {
          color: #fff;
        }
      }
    }
  }
}
