.reservation-sidebar {
  padding-top: 10px;
}

.reservation-selected {
  margin-top: 30px;

  ul {
    list-style: none;
    margin-bottom: 0;
    padding: 20px 20px;

    li {
      color: #333;
      font-size: 12px;
      overflow: hidden;
      font-weight: 500;
      padding: 5px 0;

      span:last-child {
        float: right;
        font-weight: bold;
        text-transform: uppercase;
      }
    }
  }
}
