@mixin transition($property) {
  -webkit-transition: $property;
  -moz-transition: $property;
  -o-transition: $property;
  transition: $property;
}

@mixin appearance($property) {
  -webkit-appearance: $property;
  -moz-appearance: $property;
  -o-appearance: $property;
  appearance: $property;
}
